/* NOTES ****************************************************************************************************
* Photo Credits from Unsplash: Mike Kenneally, Nathan Dumlao, Mike Marquez, Tina Guina, Dave Michuda, Jo Lanta, Nick Hillier, nousnou iwasaki,
* Blake Richard Verdoorn
*
*
*
*
*************************** END NOTES */

/* Social Media Icon Import */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* GLOBAL ****************************************************************************************************

 /*  Borders are to see what all my boxes are doing */
/* * {
    border: 1px solid blue !important; 
}
div {
    border: 1px solid red !important;
} */

/* Reference for box-sizing: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #f4e8c7;
    font-size: 1.6rem;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 3px;
}

h1 {
    font-size: 4em;
    line-height: 1.33;
    font-weight: 200;
}

h2 {
    font-size: 2.5em;
    line-height: 1.4;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
    font-weight: 700;
}

h1, h2, h3, h4,
a {
    font-family: 'Kameron', serif;
    color: #3a2621;
}

p {
    font-family: 'Tenor Sans', sans-serif; 
    line-height: 1.3;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Skip Navagation ****************************************************************************************************/

:root .skipnav {
    display: block;
}

.skipnav {
    position: absolute;
    display: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.skipnav a {
    width: 26em;
    display: block;
    color: #fff;
    background: #333;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    left: -100em;
    top: 0;
    font-weight: bold;
}

.skipnav a:visited {
    color: #fff;
}

/* HEADER ****************************************************************************************************/

.header {
    position: fixed;
    width: 100%;
    background-color: #e7c85e;
    margin-top: 1em;
    border-top: 11px solid #3a2621;
    border-bottom: 11px solid #3a2621;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-border {
    position: fixed;
    width: 100%;
    height: 3em;
    background-color: #cca450;
    z-index: 1;
}

/* LOGO ****************************************************************************************************/

.logo {
    margin: 1em 0;
}

.logo img {
    width: 250px;
}


/* NAVIGATION ****************************************************************************************************/

.nav {
    display: flex;
    margin-bottom: -4em;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.nav-li a {
    padding: 2em 0.9em;
    text-decoration: none;
    color: #8e502e;
    font-size: 1.3em;
    font-weight: 600;
}

.search-form {
    display: flex;
}

.input-search {
    background-color: #f1e0b3;
    color: #3a2621;
    border: 2px solid #cca450;
    flex-grow: 1;
}

.input-submit {
    background-color: #9ba03b;
    color: #742d1f;
    border: none;
}

.social-icons-grouped {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon .fa {
    color: #742d1f;
    padding: 0.4em 0;
}

/* BUTTONS ****************************************************************************************************/

.hero-cta.btn {
    font-size: 1.3em;
    padding: 0.8em 1.7em;
    border-radius: 3px;
}

.cta-btn-one {
    background-color: #9ba03b;
    color: #742d1f;
    border: transparent;
    margin-right: 0.4em;
}

.cta-btn-two {
    background-color: transparent;
    color: #9ba03b;
    border-color: #9ba03b;
}

.cta-btn-one:hover {
    animation-name: hover-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-color {
    100% {
        background-color: #742d1f;
        color: #9ba03b;
    }
}

/* HERO SECTION ****************************************************************************************************/

.hero.section.container {
    width: initial;
    height: 750px;
}

.hero-img.image {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

.hero-img img {
    width: 100%;
}

.hero.cta {
    position: absolute;
    top: 18em;
    right: 8em;
    max-width: 100%;
    text-transform: uppercase;
    /* text-align: right; */
}

.hero-cta-small-lettering {
    font-size: 0.6em;
}

.hero.cta h1 {
    line-height: 0.9em;
    color: #cca450;
    margin-bottom: 0.3em;
}


/* SECTION-ONE ****************************************************************************************************/

.section-one {
    display: flex;
    width: initial;
    padding-top: 4em;
    margin-bottom: 4em;
    background: #f4e8c7;
}

.section-one-content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.feature-blog {
    width: 50%;
    margin-right: 7em;
}

.feature-blog h2 {
    margin-bottom: 0.3em;
}

.feature-blog img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.blog-list {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.blog-list h2 {
    margin-bottom: 0.3em;
    text-transform: uppercase;
    font-weight: 600;
}

.blog-list img {
    width: 150px;
    height: auto;
}

.sub-blog {
    display: flex;
}

.sub-blog-img {
    margin-right: 1em;
}

.feature-blog h3,
.sub-blog-content h3 {
    font-size: 1.5em;
}

.feature-blog h4,
.sub-blog-content h4 {
    margin-bottom: 0.3em;
}

hr {
    border-color: #3a2621;
    margin: 1.5em 0;
}

/* SECTION-TWO ****************************************************************************************************/

.section-two {
    display: flex;
    padding: 4em 0;
    align-items: flex-start;
    flex-wrap: wrap;
}

.events {
    width: 46.5%;
    /* flex-grow: 2; */
}

.events h2, 
.latest-brew h2, 
.member-resources h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.latest-brew h2,
.member-resources h2 {
    line-height: 0.8em;
}

.event {
    display: flex;
    align-items: baseline;
}

.event-list {
    padding-right: 3.5em;
}

.event-date {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: 1px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(58,38,33,0.2);
    margin-right: 1.3em;
    margin-bottom: 2.5em;
}

.event-title {
    font-size: 1.5em;
}

.latest-brew {
    width: 22.5%;
    padding-right: 3.5em;
    /* flex-grow: 1; */
}

.latest-brew-title-sub {
    line-height: 0.8em;
    margin-bottom: 0.3em;
}

.latest-brew-image {
    width: 150px;
    height: auto;
    margin-bottom: 0.7em;
}

.member-resources {
    width: 31%;
    /* flex-grow: 1; */
}

.pdfs {
    padding-right: 2.5em;
}

.pdfs a {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 2em;
    text-decoration: none;
}

.pdfs a:first-child {
    margin-top: 2em;
}

.pdfs h3 {
    font-size: 1.4em;
}

.fa.fa-file-alt {
    font-size: 2em;
    margin-right: 0.5em;
}



/* SECTION-THREE ****************************************************************************************************/

.section-three {
    display: flex;
    padding-top: 4em;
    padding-bottom: 4em;
    justify-content: space-around;
    align-items: center;
    width: initial;
    background: #cca450;
}

.supporter-slider {
    display: flex;
}



/* FOOTER ****************************************************************************************************/

#footer {
    background-color: #e7c85e;
}

.footer-nav {
    background-color: #3a2621;
}

.footer-nav-inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0.5em 0;
    /* justify-content: flex-start; */
}

.footer-nav-inner .nav-ul li a {
    padding: 0.5em 2em;
    color: #f1e0b3;
    text-decoration: none;
}

.footer-social-icons .social-icons-grouped {
    flex-direction: initial;
}

.footer-social-icons {
    margin-left: 28em;
}

.footer-social-icons .social-icons-grouped .social-icon .fa {
    color: #f1e0b3;
    padding: 0.5em 1em;
}

.footer-bottom {
    width: 1200px;
    margin: 0 auto;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-sub {
    background-color: #3a2621;
    border-bottom: 11px solid #cca450;
}

.legal-misc-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0.5em 0;
}

/* .bottom-border {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 3em;
    background-color: #cca450;
    z-index: -1;
} */